/*
 *Name: Alec Henderson
 *UnityID: [ajhende4]
 *Date: [9/21/22]
 *Assignment: [webpages IA]
 *Description: [webpages Independent assignment]
 */
 
body {
    background-color: #FFCCCB;
}

.table-border{
    border: 3px solid #0000F0;
}

#image-format {
    max-height: 250px;
	max-width: 200px;
	border: 2px inset #00FF00;
}
